<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to t(:home), root_path %><span class="divider">/</span> </li>
    <li><%=link_to t(:wevents), events_path%><span class="divider">/</span></li>
    <li class="active"><%=t(:index)%></li>
  </ul>
<%end%>
<%content_for :analyst_counter do%>
  <div class="header">
    <%@events.each do |p|%>
      <div class="stats">
        <p class="stat"><span class="number"><%= p.analyst_id%></span><%=link_to "Prioridad Baja", events_path%></p>
      </div>
    <%end%>
  </div>
<%end%>
<div class="well">
<%#*<div class="well">%>
<%#= search_form_for @search do |f| %>
<%#*<div class="field">%>
<%#=f.label :analyst_id, "Analista"%>
<%#=f.text_field :analyst_id%>
<%#*</div>%>
<%#*<div class="actions">%>
<%#= f.submit "Search" %>
<%#*</div>%>
<%#end%>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%=sort_link @search, :priority_id, "Prioridad" %></th>
        <th><%=sort_link @search, :status_id, "Estatus" %></th>
        <th><%=sort_link @search, :event_date, "Fecha" %></th>
        <th><%="Descripcion" %></th>
        <th><%=sort_link @search, :crime_id, "Delito" %></th>
        <th><%=sort_link @search, :analyst_id, "Analista" %></th>
        <th><%= t(:actions) %></th>
      </tr>
    </thead>
    <% @events.each do |event| %>
      <tbody>
        <tr>
          <%if event.priority_id==10000%>
            <td><span class="label label-important"><%= event.priority.description %></span></td>
          <%elsif event.priority_id==10001%>
            <td><span class="label label-warning"><%= event.priority.description %></span></td>
          <%else%>
            <td><span class="label label-inverse"><%= event.priority.description %></span></td>
          <%end%>
          <%if event.status%>
            <td><%= event.status.description %></td>
          <%else%>
            <td>sin estatus</td>
          <%end%>
          <td><%= event.event_date %></td>
          <%if event.description%>
            <td><%= event.description.truncate(25, :omission => "...") %><%= link_to '(continua)', event %></td>
          <%else%>
            <td>N/A</td>
          <%end%>

          <%if event.crime%>
            <td><%= event.crime.crime %></td>
          <%else%>
            <td>no especificado</td>
          <%end%>
          <td><%= event.analyst.analyst %></td>
          <td>
            <ul class="nav nav-pills">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" title='<%=t(:actions)%>'><i class="icon-cog"></i>&nbsp;<i class="icon-caret-down"></i></a>
                <ul class="dropdown-menu">
                  <%if can? :show, Event%>
                    <li><%= link_to 'Mostrar', event %></li>
                  <%end%>
                  <%if can? :edit, Event, :analyst_id => current_user.analyst_id%>
                    <li><%= link_to 'Editar', edit_event_path(event) %></li>
                  <%end%>
                  <%if can? :destroy, Event%>
                    <li><%= link_to t(:destroy), event, method: :delete, data: { confirm: '¿Estas seguro?' } %></li>
                  <%end%>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
<br />
<%if can? :create, Event%>
  <%= link_to t(:wnew)+" "+t(:wevent), new_event_path, :class => "btn btn-primary" %>
<%end%>