<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @events_collection.id %>
</p>

<p>
  <b>Priority:</b>
  <%= @events_collection.priority_id %>
</p>

<p>
  <b>Event date:</b>
  <%= @events_collection.event_date %>
</p>

<p>
  <b>Description:</b>
  <%= @events_collection.description %>
</p>

<p>
  <b>Street:</b>
  <%= @events_collection.street %>
</p>

<p>
  <b>Interior number:</b>
  <%= @events_collection.interior_number %>
</p>

<p>
  <b>Suburb:</b>
  <%= @events_collection.suburb %>
</p>

<p>
  <b>Locality:</b>
  <%= @events_collection.locality %>
</p>

<p>
  <b>Person:</b>
  <%= @events_collection.person_id %>
</p>

<p>
  <b>Vehicle:</b>
  <%= @events_collection.vehicle_id %>
</p>

<p>
  <b>Drug:</b>
  <%= @events_collection.drug_id %>
</p>

<p>
  <b>Weapon:</b>
  <%= @events_collection.weapon_id %>
</p>

<p>
  <b>Observations:</b>
  <%= @events_collection.observations %>
</p>

<p>
  <b>Backup file:</b>
  <%= @events_collection.backup_file %>
</p>

<p>
  <b>Source:</b>
  <%= @events_collection.source %>
</p>

<p>
  <b>Area:</b>
  <%= @events_collection.area_id %>
</p>

<p>
  <b>Crime:</b>
  <%= @events_collection.crime_id %>
</p>

<p>
  <b>Township:</b>
  <%= @events_collection.township_id %>
</p>

<p>
  <b>Locality:</b>
  <%= @events_collection.locality_id %>
</p>

<p>
  <b>Place:</b>
  <%= @events_collection.place_id %>
</p>

<p>
  <b>Analyst:</b>
  <%= @events_collection.analyst_id %>
</p>

<p>
  <b>Status:</b>
  <%= @events_collection.status_id %>
</p>


<%= link_to 'Edit', edit_events_collection_path(@events_collection) %> |
<%= link_to 'Back', events_collections_path %>
